.available-option {
    display: inline-block;
    background: url("../../../assets/img/icons/check.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    width: 1.25rem;
    height: 1.25rem;
}

.highlighted-row {
    td {
        background: #FFFFFF;
    }
}

.price-comparison {
    table {
        width: 100%;
        th {
            padding: 0.625rem;
            text-align: left;
            font-size: 1.25rem;
            @media (max-width: 40rem) {
                font-size: 1rem;
            }
        }
        tbody {
            td {
                padding: 0.9375rem 0.625rem;
                font-size: 1.25rem;
                @media (max-width: 40rem) {
                    font-size: 1rem;
                    img {
                        width: 1.25rem!important;
                        height: 1.25rem!important;
                    }
                }
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    display: inline-block;
                }

            }
            tr:nth-child(odd) {
                background: #fff;
            }
        }

    }
}