.price-addons-list {
    li {
        display: block;
        padding: 0.625rem 0;
        padding-left: 2.5rem;
        background: url('../../../assets/img/icons/price-check.svg') no-repeat 0 0;
        background-position: left center;
    }
}