.video-slider {
    .slide-content-inner {
        opacity: 1;
        transition: all .5s;
    }
    .swiper-slide-prev, .swiper-slide-next {
        .slide-content-inner {
            opacity: 0;
        }
    }
}