@import "tailwindcss";
@import "tailwindcss-animated";

/* globals.css */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
@theme {
    --color-primary: #202B46;
    --color-primary-dark: #0c193a;
    --color-secondary: #EEF8FD;
    --color-salmon: #FE9881;
    --color-yellow: #FDF1B7;
    --color-lime: #E7D571;
    --color-white: #FFFFFF;
    --radius-main: 30px;
    --radius-bg: 100px;
}

/* Typography */
@layer base {
    h1 {
        @apply font-sans font-normal text-4xl text-primary;
    }
    h2 {
        @apply font-sans font-bold text-3xl text-primary;
    }
    body {
        @apply text-primary bg-secondary font-sans;
    }
}

@layer components {
    .hamburger {
        @apply cursor-pointer flex flex-col gap-1;
        span {
            @apply block w-5 h-0.5 bg-white rounded transition-all duration-300;
        }

        &.open {
            span {
                &:nth-child(1) {
                    @apply translate-y-1 rotate-45;
                }
                &:nth-child(2) {
                    @apply opacity-0;
                }
                &:nth-child(3) {
                    @apply -translate-y-2 -rotate-45;
                }
            }
        }
    }
    .container {
        @apply max-w-[1440px] mx-auto;
    }
    .ls-07 {
        letter-spacing: 0.7px!important;
    }

    .fade-in {
        animation: fadeIn 0.3s ease-in-out forwards;
    }
    .fade-out {
        animation: fadeOut 0.3s ease-in-out forwards;
    }

    .no-scroll {
        overflow: hidden;
    }
}
