@import "tailwindcss";
@import "tailwindcss-animated";

/* globals.css */
html {
    font-size: 12.8px;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
  }

@theme {
    --color-primary: #202B46;
    --color-primary-dark: #0c193a;
    --color-secondary: #EEF8FD;
    --color-salmon: #FE9881;
    --color-yellow: #FDF1B7;
    --color-lime: #E7D571;
    --color-white: #FFFFFF;
    --color-green: #BADFC3;
    --color-blue: #A4E1FF;
    --radius-main: 1.875rem;
    --radius-bg: 6.25rem;
}

/* Typography */
@layer base {
    h1 {
        @apply font-sans font-normal text-4xl text-primary;
    }
    h2 {
        @apply font-sans font-bold text-3xl text-primary;
    }

    h3 {
        @apply font-sans font-bold text-xl text-primary;
    }
    body {
        @apply text-primary bg-secondary font-sans;
    }
}

@layer components {
    .hamburger {
        @apply cursor-pointer flex flex-col gap-1;
        span {
            @apply block w-11 h-0.5 bg-white rounded transition-all duration-300 mb-2;
        }

        &.open {
            span {
                &:nth-child(1) {
                    @apply translate-y-1.5 rotate-45;
                }
                &:nth-child(2) {
                    @apply -translate-y-2 -rotate-45;
                }
            }
        }
    }
    .container {
        @apply max-w-[90rem] mx-auto;
    }

    .container-s {
        @apply max-w-[82.5rem] mx-auto;
    }

    .container-blog {
        @apply max-w-[61.688rem] mx-auto;
    }

    .base-btn {
        @apply flex flex-none items-center justify-center px-4 rounded-[6.25rem] py-3.5 border border-primary-dark text-primary-dark text-base font-normal font-['Inter'] transition duration-300 md:px-7;
    }

    .ls-07 {
        letter-spacing: 0.0437rem!important;
    }

    .fade-in {
        animation: fadeIn 0.3s ease-in-out forwards;
    }
    .fade-out {
        animation: fadeOut 0.3s ease-in-out forwards;
    }

    .no-scroll {
        overflow: hidden;
    }

    .invisible {
        visibility: hidden;
        opacity: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }

    .mc-slider {
        .swiper-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .home-title {
        span {
           color: #BADFC3
        }
    }

    /* Slide Down Animation */
    .slideDown {
        animation: slideDown 0.6s ease-out forwards;
    }

    .slideUp {
        animation: slideUp 0.6s ease-in forwards;
    }

    .slideDownFast {
        animation: slideDown 0.2s ease-out forwards;
    }

    .slideUpFast {
        animation: slideUp 0.2s ease-in forwards;
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-20%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slideUp {
        animation: slideUp 0.6s ease-in forwards;
    }

    @keyframes slideUp {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-20%);
            opacity: 0;
        }
    }

    /* Single page, single post, single project */
    .single-entity {
        h2 {
            @apply justify-start text-primary-dark text-[2.875rem] font-bold leading-[3.438rem];
            margin: 1.875rem 0;
            font-weight: 700;
        }
        h3, h4, h5 {
            @apply self-stretch justify-start text-[#0c193a] text-3xl font-bold leading-loose;
        }

        p {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
        }
        a {
            text-decoration: underline;
            transition: all .3s;
        }
        a:hover {
            color: #b9dfc3;
        }

        ul,ol {
            list-style: decimal;
            padding: 0;
            margin: 0 0 1.5em 1.655em
        }

        ul ul,ul ol,ol ol,ol ul, li {
            margin-bottom: 0.375rem;
        }

        ul.unstyled,ol.unstyled,ul.inline,ol.inline {
            margin-left: 0;
            list-style: none
        }

        ul.inline>li,ol.inline>li {
            display: inline-block;
            padding-left: 1em;
            padding-right: 1em
        }

        table {
            max-width: 100% !important;
            width: 100%;
        }
    }

    .dynamic-html-content {
        ul {
            list-style: disc;
            padding-left: 1rem;
        }
    }

    strong {
        font-weight: 600;
    }

    .min-height-block {
        @media (min-width: 64rem) {
            min-height: 16.5625rem;
        }
    }

    .abs-bottom {
        position: absolute!important;
        bottom: 0;
    }

    .max-width-22 {
        max-width: 22.25rem;
    }
    .max-width-24 {
        max-width: 24.938rem;
    }
    .max-width-25 {
        max-width:26.813rem!important;
    }
    .max-width-26 {
        max-width:26.813rem!important;
    }
    .max-width-27 {
        max-width:27rem!important;
    }

    .max-width-28 {
        max-width:28rem !important;
    }

    .max-width-30 {
        max-width:30rem!important;
    }

    .max-width-35 {
        max-width:35rem!important;
    }

    .bottom-m20 {
        bottom: -20px!important;
    }

    .height-90 {
        height: 90%!important;
    }

    .list-disc {
        list-style: disc!important;
    }
}

.hs-error-msg {
    @apply !text-red-500;
}

.hs_error_rollup {
    label {
        @apply !text-red-500 mb-3 block;
    }
}

.page_form {
    /*@apply flex flex-col gap-4 max-w-[400px] mx-auto p-12;*/

    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
    select {
        @apply px-[26px] py-3.5 bg-[#f5f5ff]/50 rounded-3xl outline outline-1 outline-offset-[-1px] outline-[#c8c8c8]/75 inline-flex justify-start items-center gap-2.5 !w-full mb-1;
    }

    label {
        @apply text-primary-dark;
    }

    .actions {
        @apply flex items-center justify-center;
    }
    [type="submit"] {
        @apply flex-none items-center justify-center px-4 rounded-[6.25rem] py-3.5 border bg-primary-dark text-white text-base font-normal font-['Inter'] transition duration-300 md:px-7 inline-block hover:bg-transparent hover:text-primary-dark cursor-pointer;
    }

    .hs-recaptcha {
        @apply w-full h-[100px] flex items-center justify-center text-sm text-primary-dark;
    }

    p {
        @apply text-xs text-[#6b6b80];
    }

    .inputs-list {
        @apply mb-5;

        span {
            @apply text-primary-dark ml-2;
        }
    }

    .hs-fieldtype-radio > label {
        @apply mb-2 inline-block;
    }

    .field {
        @apply mb-5;
    }

    .hs-error-msgs {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }


    .hs-richtext {
        p {
            @apply justify-start text-[#727272] !text-[0.75rem] font-normal font-['Inter'] leading-[1rem];
            span {
                @apply !text-[0.75rem];
            }
        }
    }

    .submitted-message {
        @apply text-center justify-start text-primary-dark text-[2rem] font-bold font-['Inter'] leading-10 !pt-[6rem]
    }
}



.subscribe_form {
    fieldset {
        @apply !max-w-full;
    }
    .field {
        @apply !mb-[1.125rem];
        & > label {
            @apply hidden;
        }
        input:not([type="submit"]) {
            @apply px-[26px] py-3.5 bg-white rounded-[1.5rem] outline-0 inline-flex justify-start items-center gap-2.5 !w-full mb-1;
            border: 1px solid rgba(200, 200, 200, 0.74);
        }
        .input {
            @apply !mr-0;
        }
    }
    .form-columns-2 {
        @apply md:flex gap-[1.375rem];
        .hs-form-field {
            @apply !w-full;
        }
    }

    .hs_recaptcha {
        @apply w-full h-[100px] flex items-center justify-center text-sm text-primary-dark;
    }

    .actions {
        @apply flex items-center justify-center;
    }
    [type="submit"] {
        @apply flex-none items-center justify-center px-4 rounded-[6.25rem] py-3.5 border border-primary-dark bg-primary-dark text-white text-base font-normal font-['Inter'] transition duration-300 md:px-7 inline-block hover:bg-transparent hover:text-primary-dark cursor-pointer;
    }
    .submitted-message {
        @apply text-center justify-start text-primary-dark text-[1.5rem] font-bold leading-[3.125rem] mb-8
    }
}