.testimonials-section {
    .swiper-slide {
        height: auto;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        opacity: 1;
        background: #fff;
        border: 1px solid #151C2D;
    }
    .swiper-pagination-bullet-active {
        border: 1px solid #151C2D;
        background: #151C2D;
    }
}
